<div class="buttonbg">
  <a data-ui-sref="beersIndex"><button>Home</button></a>
</div>

<div class="beershow">
  <h2>{{vm.beer.name}}</h2>
  <div class="showimage">
    <div class="beer-bottle2">
      <img ng-src="{{vm.beer.image_url}}">
    </div>
  </div>
  <h2>Brewery: {{vm.beer.brewery}}</h2>
  <div class="showtext">
    <p>{{vm.beer.description}}</p>
  </div>
  <div class="buttonbg">
  <button class="edit_button" ng-click="edit = !edit">Edit</button>
  </div>
    <div class="edit_form">
      <form class="editing" ng-show="edit" ng-submit="vm.update()">
        <input ng-model="vm.beer.name">
        <input ng-model="vm.beer.image_url">
        <input ng-model="vm.beer.brewery">
        <input ng-model="vm.beer.description">
        <div class="buttonbg">
          <button type="submit" ng-show="edit">Update</button>
        </div>
      </form>
      <div class="buttonbg">
        <button type="submit" ng-click="vm.delete(beer)">Delete</button>
      </div>
    </div>
</div>
